<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#/a2000"><span ng-bind="data.label"></span><span class="sr-only">(current)</span></a></li>
                <li><a href="#/a2000/modules">Modules</a></li>
                <li><a href="#/a2000/quickfill">Slot Quick Fill</a></li>
                <li ng-repeat="m in data.modules"><a ng-href="#/a2000/slots/{{$index + 1}}">Slot#{{$index + 1}}</a></li>
            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="page-header">Modules</h2>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="panelSize" class="col-sm-2 control-label">Panel Size</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="panelSize" placeholder="Panel Size" ng-model="data.panelSize">
                    </div>
                </div>
                <div class="form-group">
                    <label for="label" class="col-sm-2 control-label">Device Label</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="label" placeholder="Device Label" ng-model="data.label">
                    </div>
                </div>
                <div class="form-group">
                    <label for="location" class="col-sm-2 control-label">Location</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="location" placeholder="Location" ng-model="data.location">
                    </div>
                </div>
                <div class="form-group">
                    <label for="feederCKT" class="col-sm-2 control-label">Feeder CKT</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="feederCKT" placeholder="Feeder CKT" ng-model="data.feederCKT">
                    </div>
                </div>
                <div class="form-group">
                    <label for="voltage" class="col-sm-2 control-label">Voltage</label>
                    <div class="col-sm-10">
                        <!--
                        <select class="form-control" id="voltage" ng-model="select_voltage" ng-options="v.displayName for v in data.voltage"
                                ng-change="submitAll()" ng-selected="v.selected" >
                        </select>
                        -->
                        <select class="form-control" id="voltage" ng-model="select_voltage" ng-change="submitAll()">
                            <option ng-repeat="v in data.voltage" ng-selected="v.selected" ng-show="v.valid" value="{{v.displayName}}">
                                {{v.displayName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="mounting" class="col-sm-2 control-label">Mounting</label>

                    <div class="col-sm-10">
                        <select class="form-control" id="mounting" ng-model="select_mounting">
                            <option ng-repeat="m in data.mounting" ng-selected="m.selected" value="{{m.displayName}}">
                                {{m.displayName}}
                            </option>
                        </select>
                    </div>
                </div>
                <h3 class="sub-header">Panel Breaker Info</h3>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Add Main Breaker?</label>
                    <div class="col-sm-10">
                        <input type="checkbox" id="mainBreaker" ng-model="data.mainBreaker">
                    </div>
                </div>
                <div class="form-group">
                    <label for="breakerSize" class="col-sm-2 control-label">Breaker Size</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="breakerSize" ng-model="select_breakerSize">
                            <option ng-repeat="b in data.breakerSize" ng-selected="b.selected" ng-show="b.valid" value="{{b.displayName}}">
                                {{b.displayName}}
                            </option>
                        </select>
                    </div>
                </div>
                <h3 class="sub-header">Relay Panel Info</h3>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Relay Panel Required?</label>
                    <div class="col-sm-10">
                        <input type="checkbox" id="panelRequired" ng-model="data.panelRequired">
                    </div>
                </div>
                <div class="form-group">
                    <label for="feederType" class="col-sm-2 control-label">Feeder Type</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="feederType" ng-model="select_feederType">
                            <option ng-repeat="f in data.feederType" ng-selected="f.selected" value="{{f.displayName}}">
                                {{f.displayName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="relayVoltage" class="col-sm-2 control-label">Relay Voltage</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="relayVoltage" ng-model="select_relayVoltage">
                            <option ng-repeat="r in data.relayVoltage" ng-selected="r.selected" value="{{r.displayName}}">
                                {{r.displayName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="relayQuantity" class="col-sm-2 control-label">Relay Qty</label>
                    <div class="col-sm-10">
                        <input type="number" id="relayQuantity" ng-model="data.relayQuantity" min="0" max="12" step="2">

                    </div>
                </div>
                <h3 class="sub-header">DMX Jacks</h3>
                <div class="form-group">
                    <label for="dmxjacks" class="col-sm-2 control-label">DMX 512 Jacks</label>
                    <div class="col-sm-10">
                        <input type="number" id="dmxjacks" ng-model="data.dmxjacks" min="0" max="2">
                    </div>
                </div>
                <!--
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Sign in</button>
                  </div>
                </div>
                -->
            </form>

            <!--
                      <h2 class="sub-header">Section title</h2>
            -->
        </div>
    </div>
</div>
